*{
  margin: 0;
  padding: 0;
}
/* body{
  
  padding: 0;
  box-sizing: border-box;
  
  overflow-x: hidden;
  overflow-y: hidden;
  
  
  
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #1a1a2e, #0f0f1a);
  color: #fff;
  height: 100vh;
} */

html{
  overflow-x: hidden;
}
